<%=t('password_reset.reset_message')%><br /><br /><br />
<div style="color: #5C5C5C; float: left; font-weight: bold; padding: 0 0 12px; width: 100%; font-size:14px;"><%=t('password_reset.reset')%></div>

<fieldset class="formContainer">
<%= form_tag password_resets_path, :id => "class_form" do %>
              <table  style="width:100%;">
              <tr><td>
			  <div class="regformRep">
              <label><%=t('general.email')%></label>
              
                <%= text_field_tag "email",'', :class=>"validate[required,custom[email]] text-input", :style=>"border:#d1d1d1 1px solid; height:19px; width:160px;"%>
              </div>
              </td>
			</tr>
           </table>


  <%= submit_tag t('general.submit'),:class=>"btnBg floatL" %>  <div class="back_btn"> | <%= link_to t('general.cancel'), new_user_session_path%></div>
</fieldset>
  
  <script language="JavaScript">
    document.getElementById("email").focus();
  </script> 
<% end %>


