<div style="color: #5C5C5C; float: left; font-weight: bold; padding: 0 0 12px; width: 100%; font-size:14px;"><%=t('login.set_password')%></div>

<fieldset class="formContainer">
<% form_tag({:action => "savePassword"}, {:id => "class_form"}) do -%>
<%= hidden_field_tag "user_id", @user.id %>
<table  style="width:100%;">
<tr>
	<td><div class="regformRep"><label><%=t('login.password')%>:</label>
    <%= password_field_tag "password",'', :class=>"validate[required,minSize[6],funcCall[checkHELLO]]", :id=>"password", :style=>"border:#d1d1d1 1px solid; height:19px; width:160px;" %>
	</div>
	</td>

</tr>
<tr>
	<td><div class="regformRep"><label><%=t('login.confirm_pwd')%>:</label>
    <%= password_field_tag "password_confirmation",'', :class=>"validate[required,minSize[6],equals[password],funcCall[checkHELLO]]", :style=>"border:#d1d1d1 1px solid; height:19px; width:160px;" %>
	</div>
	</td>
</tr>
</table>
 <%= submit_tag t('general.create'),:class=>"btnBg" %> 
</fieldset>
<% end %>
