<h2><%=t('client.client_info')%></h2>
<%unless @clientinfo.blank?%>
<div class="updateStatus">

<table border="0" cellspacing="0">
<tr class="updateHeader">
<th><%=t('client.client_name')%></th>
<th><%=t('client.url')%></th>
<th><%=t('general.edit')%></th>
<th><%=t('general.delete')%></th>
</tr>
  
	<%@clientinfo.each do|info|%>
	<tr class="updateAltrRow <%= cycle("odd", "even") %>">
	<td><%=info.name%></td>
	<td><%=info.url%></td>
	<td><%=link_to image_tag("edit.png", :alt=>"Edit"), edit_clientinfo_path(info)%></td>
	<td><%=link_to image_tag("del.png", :alt=>"Remove"), info, :confirm => t('json_message.are_you_sure'), :method => :delete%></td>
	</tr>
	<%end%>

</table>

</div>
<%else%>
<div class="formContainer">
  <%=t('not_found.no_clients')%>
 </div>
 <%end%>
<div class="qestionhead">
 <div style="margin: 10px 0; padding: 8px 0 0; float:left;">
  <%= link_to t('client.add'), :action=>'new', :controller=>'clientinfo'%>
  </div>
    </div>