<h2><%=t('about.modules')%></h2>
<div class="formContainer">


	<ul class="bulletList about_virtualx_inner">
		<div class="formBg">
		<li><%=t('modules.module1')%></li>
		<li><%=t('modules.module2')%></li>
		<li><%=t('modules.module3')%></li>
		<li><%=t('modules.module4')%></li>
		<li><%=t('modules.module5')%></li>
		<li><%=t('modules.module6')%></li>
		<li><%=t('modules.module7')%></li>
		<li><%=t('modules.module8')%></li>
		<li><%=t('modules.module9')%></li>
	</div>
	</ul>

</div>




