<h2><%=t('about.features')%></h2>
<div class="formContainer">



<ul class="bulletList about_virtualx_inner">
	<div class="formBg">
	<li><%=t('features.feature1')%></li>
	<li><%=t('features.feature2')%></li>
	<li><%=t('features.feature3')%></li>
	<li><%=t('features.feature4')%></li>
	<li><%=t('features.feature11')%></li>
	<li><%=t('features.feature5')%></li>	
	<li><%=t('features.feature6')%></li>
	<li><%=t('features.feature7')%></li>
	<li><%=t('features.feature8')%></li>
	<li><%=t('features.feature9')%></li>
	<li><%=t('features.feature10')%></li>
	</div>
</ul>

</div>




