
<h2><%= t('welcome.manage')%></h2>

<%if current_user.role_id == 1%>
<%= link_to t('general.examiner'), :action=>'index', :controller=>'users', :create_id => 2%><br><br>
<%= link_to t('welcome.q_setter'), :action=>'index', :controller=>'users', :create_id => 3%><br><br>
<%= link_to t('welcome.examinee'), :action=>'index', :controller=>'users', :create_id => 4%><br><br>
<%= link_to t('general.group_user'), :action=>'groupUser', :controller=>'users'%><br><br>
<%= link_to t('general.activate'), :action=>'activate_inactivate', :controller=>'users'%><br><br>
<%= link_to t('general.admin_dashboard'), :action=>'admin_dashboard', :controller=>'welcome'%>
<%end%>

<%if current_user.role_id == 2%>
<%= link_to t('welcome.q_setter'), :action=>'index', :controller=>'users', :create_id => 3%><br><br>
<%= link_to t('welcome.examinee'), :action=>'index', :controller=>'users', :create_id => 4%><br><br>
<%= link_to t('general.group_user'), :action=>'groupUser', :controller=>'users'%>
<%end%>